<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
            <label for ="name">Name</label>
            <input type="text" class="form-control" id="name"
            name="name"
            required
            ngModel>
        </div>
        <div class ="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount"
            name="amount"
            required
            pattern="^[1-9]+[0-9]*$"
            ngModel>
        </div>
      </div>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success btn btn-space" type="submit" 
    [disabled]="!f.valid">{{ editMode ? 'Update Item': 'Add Item'}}</button>
    <button type="button" class="btn btn-danger btn btn-space" 
    *ngIf="editMode" (click)="onDelete()">Delete item</button>  
    <button type="button" class="btn btn-info btn btn-space" (click)="onClear()">Clear item</button>
  </div>
</div>
</form>
</div>
</div>
